<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   
    <form action = "/update" method="POST">  
        <table>  
            {%for row in rows %}              
                <input type="text" name="id" value="{{row.id}}" hidden>       
                <tr><td>Name</td><td><input type="text" name="name" value="{{row.name}}"></td></tr>  
                <tr><td>Email</td><td><input type="email" name="email" value="{{row.email}}"></td></tr>  
                <tr><td>Mobile Number</td><td><input type="text" name="mobilenumber" value="{{row.mobilenumber}}"></td></tr>  
                <tr><td><input type="submit" value="Update"></td></tr>  
            {% endfor %} 
        </table>  
        </form>  
</body>
</html>